Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency typescript to v4.3.5
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angularmaterial monorepo to v12.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.52.6
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo to v12.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency jasmine-core to v3.8.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.52.7
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.42.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency mocha to v9.0.2
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.42.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency rxjs to v7.2.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/chai to v4.2.20
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/express to v4.17.13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v3.7.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasminewd2 to v2.0.10
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/mocha to v8.2.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.43.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency rollup to v2.52.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.5
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
