Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency ts-node to v10.2.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
Due: none

ci(github): fix typo in job title
  .github/workflows/test.yml
Due: none

ci(github): fix typo in job title (#1199)
  .github/workflows/test.yml
Due: none

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/test.yml
Due: none

chore(deps): update dependency rollup to v2.56.2
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update angular monorepo to v12.2.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update angularcli monorepo to v12.2.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.50.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency tslib to v2.3.1
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency pixi.js to v6.1.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack-cli to v4.8.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/tslint-config to v0.2.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @donmahallem/sudoku to v0.2.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.16.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps-dev): add @rollup/plugin-json dependency
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.3.0
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency ts-node to v10.2.1
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angular monorepo to v12.2.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
