Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

fix(deps): update angularmaterial monorepo to v11.2.13
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency source-map-loader to v3
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency copy-webpack-plugin to v9
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency rxjs to v7.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.2.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.49.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v10
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency sinon to v11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.1
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.50.0
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency sinon to v11.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/express to v4.17.12
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/sinon to v10.0.1
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update dependency core-js to v3.13.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.50.1
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency sinon to v11.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.7.5
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.50.2
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency webpack to v5.38.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
