Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update actions/checkout action to v2.4.0
  .github/workflows/label_package_pr.yml
Due: none

fix(deps): update dependency core-js to v3.19.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v3.10.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency sinon to v12
  package-lock.json
  package.json
Due: none

chore(deps): update angular-cli monorepo to v12.2.13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency sinon to v12.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.62.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency typedoc to v0.22.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency karma to v6.3.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v16.11.7
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.0.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.5.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @nguniversal/express-engine to v13.0.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.60.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.5.1
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency typedoc to v0.22.9
  package-lock.json
  package.json
Due: none

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
