Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency webpack to v5.38.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update actions/cache action to v2.1.6
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/jasmine to v3.7.6
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @nguniversal/builders to v12.0.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.38.1
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency @nguniversal/express-engine to v12.0.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.50.3
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency rollup to v2.50.4
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.13.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.50.5
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency karma to v6.3.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.2
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/sinon to v10.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.50.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.2.4
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v3.7.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.14.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.2.3
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.51.0
  package-lock.json
  package.json
Due: none
