Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency webpack-dev-server to v4.8.0
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.51
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack-dev-server to v4.8.1
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angular monorepo to v13.3.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency typedoc to v0.22.14
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.72.0
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.52
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.53
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.12
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.54
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v8.13.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.55
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.15
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update actions/cache action to v3.0.2
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.56
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v3.1.1
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.57
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.58
  package-lock.json
  package.json
Due: none
