Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jasmine-core to v4.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.59
  package-lock.json
  package.json
Due: none

chore(deps): update dependency karma-jasmine to v5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma to v6.3.18
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.60
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/chai to v4.3.1
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v13.3.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency sinon to v13.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.27
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angularmaterial monorepo to v13.3.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/checkout action to v3.0.1
  .github/workflows/label_package_pr.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/jasmine to v4.0.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.22.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.70.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.17
  package-lock.json
  package.json
Due: none

chore(deps): update dependency fs-extra to v10.1.0
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.61
  package-lock.json
  package.json
Due: none
