Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency webpack-dev-server to v4.9.1
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v16.11.38
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angular monorepo to v13.3.11
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.22.17
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.75.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.39
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.22.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.73.0
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angularmaterial monorepo to v13.3.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update pixijs monorepo to ~6.4.2
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update dependency @nguniversal/express-engine to v14
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-node to v10.8.1
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency eslint to v8.17.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.89
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.90
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.41
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v3.3.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency webpack-dev-server to v4.9.2
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
