Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency webpack-cli to v4.9.1
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.59.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @rollup/plugin-commonjs to v21.0.1
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v12.2.11
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.11
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma to v6.3.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.11
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.59.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency rollup to v2.58.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.10.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/sinon to v10.0.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.31
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma to v6.3.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v12.1.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.32
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/sinon to v10.0.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jasmine-core to v3.10.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.22.7
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.4.7
  package-lock.json
  package.json
Due: none

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
