Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore: save
  packages/client/src/app/routes/tank-call/components/tank-call.component.scss
  packages/client/src/app/routes/tank-call/components/tank-call.component.ts
Due: client

chore: fix routings for tank-call
  packages/client/package.json
  packages/client/src/app/modules/home/component/home.component.pug
  packages/client/src/app/modules/home/component/home.component.ts
  packages/client/src/app/routes/tank-call/components/tank-call.component.ts
  packages/client/src/app/routes/tank-call/tank-call-can-activate.ts
  packages/client/src/app/routes/tank-call/tank-call-routing.module.ts
Due: client

chore: save
  packages/client/src/app/routes/tank-call/components/tank-call.component.pug
  packages/client/src/app/routes/tank-call/components/tank-call.component.ts
Due: client

style(client): fix lint issues
  packages/client/src/app/routes/tank-call/components/tank-call.component.ts
Due: client

chore(deps): update dependency @nguniversal/builders to v12.0.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v12.0.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.39.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency rollup to v2.52.0
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v12.0.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.0.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.20.37
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency rollup to v2.52.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.39.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update angularcli monorepo to v12.0.5
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency mocha to v9.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/chai to v4.2.19
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update dependency core-js to v3.15.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.52.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.40.0
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency html-webpack-plugin to v5.3.2
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency core-js to v3.15.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call
