Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.85
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lerna to v5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.86
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.33
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v13.3.10
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.3.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma-jasmine-html-reporter to v2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.75.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.35
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.75.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.36
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.87
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.37
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.16
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.88
  package-lock.json
  package.json
Due: none

chore(deps): update actions/cache action to v3.0.3
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency rollup to v2.75.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.38
  package-lock.json
  package.json
Due: none

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
