Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v9.0.3
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @rollup/plugin-commonjs to v19.0.2
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.2.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency sinon to v11.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.47.0
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @types/jasmine to v3.8.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angular monorepo to v12.1.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.1.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo to v12.1.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency rxjs to v7.3.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.47.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency core-js to v3.16.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

ci(build): use donmahallem/lerna-label for PR labeling
  .github/labeler.yml
  .github/workflows/label_package_pr.yml
Due: none

ci(build): use donmahallem/lerna-label for PR labeling (#1172)
  .github/labeler.yml
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v20
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.2.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.21.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.7
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
