Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

fix(deps): update angular monorepo to v12.2.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-dev-server to v4
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update angularcli monorepo to v12.2.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.10
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.21.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.3.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.51.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.51.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency mocha to v9.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.11
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency jasmine-core to v3.9.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.4.0
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.1
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.2
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update codecov/codecov-action action to v2.0.3
  .github/workflows/test.yml
Due: none

fix(deps): update dependency core-js to v3.16.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.12
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client
