Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency @types/node to v14.17.7
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.48.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update actions/setup-node action to v2.3.1
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency ts-loader to v9.2.5
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.17.8
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/setup-node action to v2.3.2
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/node to v14.17.9
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo to v12.2.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(tank-call): rename destroyed to projectileDesctroyed
  packages/tank-call/src/projectile.ts
  packages/tank-call/src/tank-game.ts
Due: tank-call

chore(deps): update dependency pixi.js to v6.1.0
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency pixi.js to v6.1.1
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update donmahallem/lerna-label action to v0.0.8
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency webpack to v5.49.0
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

ci(github): rework test script
  .github/workflows/test.yml
Due: none

chore: fix typo
  .github/workflows/test.yml
Due: none

ci(github): rework test script (#1193)
  .github/workflows/test.yml
Due: none

chore(deps): update dependency rollup to v2.56.1
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update dependency core-js to v3.16.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
