Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  packages/client/package-lock.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.34
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.10.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.35
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.16
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update angular-cli monorepo to v13.3.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.36
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @nguniversal/builders to v13.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency prettier to v2.6.0
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v13.3.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typescript to v4.6.2
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update angularmaterial monorepo to v13.3.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v13.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/cache action to v3
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.37
  package-lock.json
  package.json
Due: none

fix(deps): update pixijs monorepo to ~6.3.0
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
