Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency eslint to v8.10.0
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): lock file maintenance
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update actions/setup-node action
  .github/workflows/create_release.yml
  .github/workflows/deploy_pages.yml
  .github/workflows/publish_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency sinon to v13
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.19
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/sinon to v10.0.11
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.15
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @donmahallem/tslint-config to v0.3.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.10.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency chai to v4.3.6
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @nguniversal/express-engine to v13.0.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-cli to v4.9.2
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
Due: client

fix(deps): update dependency @donmahallem/sudoku to ~0.3.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.21.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.69.0
  package-lock.json
  package.json
Due: none

chore(deps): update actions/checkout action
  .github/workflows/create_release.yml
  .github/workflows/deploy_pages.yml
  .github/workflows/label_package_pr.yml
  .github/workflows/publish_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update actions/labeler action to v4
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/rollup-config to v1.0.16
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.21
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-loader to v9.2.7
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps-dev): bump webpack to 5.70.0
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call
