Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency @types/chai to v4.2.21
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.44.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/jasmine to v3.8.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v3.8.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.53.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma-jasmine-html-reporter to v1.7.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-node to v10.1.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.21.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.53.1
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency typedoc to v0.21.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.14
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.1.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @nguniversal/builders to v12.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo to v12.1.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.1.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.53.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v19.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.2.3
  package-lock.json
  package.json
Due: none
