Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

test(client): fix test coverage generation
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/karma.conf.js
Due: client

test(client): fix karma.conf
  packages/client/angular.json
  packages/client/karma.conf.js
Due: client

fix(deps): update dependency rxjs to v7.5.5
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

test(client): add subdirs to karma
  packages/client/karma.conf.js
Due: client

fix(deps): bump angular to 13.x (#1525)
  packages/client/.gitignore
  packages/client/angular.json
  packages/client/karma.conf.js
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/routes/sudoku/modules/sudoku-benchmark/sudoku-benchmark.module.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/sudoku-field.module.ts
  packages/client/src/polyfills.ts
  packages/client/src/test.ts
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

ci(renovate): update renovate baseBranch
  .github/renovate.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-forge to 1.0.0 [security]
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

ci(renovate): remove dev as baseBranch
  .github/renovate.json
Due: none

chore(deps): update dependency karma to 6.3.16 [security]
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency marked to 4.0.10 [security]
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency nanoid to 3.1.31 [security]
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency node-forge to 1.0.0 [security]
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.19
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v0.5.5
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @donmahallem/tslint-config to v0.3.2
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update actions/labeler action to v4
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update actions/download-artifact action to v3
  .github/workflows/test.yml
Due: none

chore(deps): update dependency eslint to v8.10.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v9.2.1
  package-lock.json
  package.json
Due: none

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/test.yml
Due: none

chore(deps): update dependency ts-node to v10.7.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency core-js to v3.21.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.19
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/tslint-config to v0.3.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency karma to 6.3.16 [security]
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update donmahallem/lerna-label action to v0.1.15
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @types/jasmine to v3.10.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/sinon to v10.0.11
  package-lock.json
  package.json
Due: none

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
