Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency rollup to v2.51.0
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency webpack-cli to v4.7.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.17.3
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.51.1
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo to v12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): bump @angular to v12
  packages/client/angular.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/server.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-benchmark/component/sudoku-benchmark.component.ts
  packages/client/src/app/routes/sudoku/services/sudoku-solver.service.ts
  packages/client/src/environments/environment.ts
  packages/client/src/polyfills.ts
  packages/client/src/test.ts
  packages/client/tsconfig.base.json
Due: client

ci(github): add prerender to testing
  .github/workflows/test.yml
Due: none

ci(github): remove node 10 tests
  .github/workflows/test.yml
Due: none

fix(deps): update angularmaterial monorepo to v12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(client): fix express import statement
  packages/client/server.ts
Due: client

fix(deps): update angular to v12 (#1018)
  .github/workflows/test.yml
  packages/client/angular.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/server.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-benchmark/component/sudoku-benchmark.component.ts
  packages/client/src/app/routes/sudoku/services/sudoku-solver.service.ts
  packages/client/src/environments/environment.ts
  packages/client/src/polyfills.ts
  packages/client/src/test.ts
  packages/client/tsconfig.base.json
Due: client

fix(deps): update angularmaterial monorepo to v12.0.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency mocha to v9
  package-lock.json
  package.json
Due: none

ci(codecov): allow 1% coverage diff
  codecov.yml
Due: none

chore(release): publish v0.5.0
  CHANGELOG.md
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/CHANGELOG.md
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update angular monorepo to v12.0.4
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.2.5
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update angularcli monorepo to v12.0.4
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.51.2
  package-lock.json
  package.json
Due: none

chore(deps): update webfactory/ssh-agent action to v0.5.3
  .github/workflows/deploy_pages.yml
Due: none

chore(deps): update dependency tslib to v2.3.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma to v6.3.4
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

feat(client): add tank-call route
  packages/client/src/app/app-routing.module.ts
  packages/client/src/app/routes/tank-call/components/index.ts
  packages/client/src/app/routes/tank-call/components/tank-call.component.pug
  packages/client/src/app/routes/tank-call/components/tank-call.component.scss
  packages/client/src/app/routes/tank-call/components/tank-call.component.ts
  packages/client/src/app/routes/tank-call/tank-call-can-activate.ts
  packages/client/src/app/routes/tank-call/tank-call-routing.module.ts
  packages/client/src/app/routes/tank-call/tank-call.module.ts
Due: client
