Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update angularcli monorepo to v12.2.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.21.7
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v9.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.21.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.4.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.16.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.21.9
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update donmahallem/lerna-label action to v0.1.3
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @types/node to v14.17.13
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-dev-server to v4.1.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v14.17.14
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.17.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.4.3
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v12.2.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @donmahallem/sudoku to v0.2.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.17.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.51.2
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
