Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.62
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.18
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.63
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.64
  package-lock.json
  package.json
Due: none

chore(deps): update dependency karma to v6.3.19
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.22.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.65
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v13.3.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.3.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.66
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.22.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/checkout action to v3.0.2
  .github/workflows/label_package_pr.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.67
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/mocha to v9.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update codecov/codecov-action action to v3.1.0
  .github/workflows/test.yml
Due: none

chore(deps): update dependency tslib to v2.4.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency eslint to v8.14.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.68
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v22
  package-lock.json
  package.json
Due: none
