Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency @rollup/plugin-typescript to v8.2.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.45.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @rollup/plugin-replace to v3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.45.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.2.7
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v2.3.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency rollup to v2.53.3
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update angularmaterial monorepo to v12.1.3
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angular monorepo to v12.1.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo to v12.1.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.46.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.2.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/mocha to v9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.2.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-loader to v9.2.4
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.6
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.4
  package-lock.json
  package.json
Due: none

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none
