Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency rollup to v2.47.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.6.11
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.14.44
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.11.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v11.2.12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v11.2.13
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.1.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update angularcli monorepo
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency core-js to v3.12.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-cli to v4.7.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @types/jasmine to v3.7.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/jasminewd2 to v2.0.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma-jasmine-html-reporter to v1.6.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency mocha to v8.4.0
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency commitizen to v4.2.4
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @rollup/plugin-commonjs to v19
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @types/jasmine to v3.7.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/chai to v4.2.18
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update dependency core-js to v3.12.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.37.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
