Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

fix(deps): update angularmaterial monorepo to v13.3.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typescript to v4.6.3
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency prettier to v2.6.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.38
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v8.12.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.39
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.40
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.17
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.41
  package-lock.json
  package.json
Due: none

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  packages/client/package-lock.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.43
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.44
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.45
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.46
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v4.0.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency karma-jasmine to v4.0.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/cache action to v3.0.1
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none
