Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.33
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/rollup-config to v2.0.23
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.73
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.22.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.74
  package-lock.json
  package.json
Due: none

fix(deps): update pixijs monorepo to ~6.3.1
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update angular monorepo to v13.3.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.3.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v13.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update pixijs monorepo to ~6.3.2
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.72.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack-dev-server to v4.9.0
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/rollup-config to v2.0.25
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v8.15.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.75
  package-lock.json
  package.json
Due: none
