Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency @donmahallem/tslint-config to v0.2.1
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.6
  .github/workflows/label_package_pr.yml
Due: none

fix(deps): update dependency @donmahallem/sudoku to v0.2.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency html-webpack-plugin to v5.5.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency ts-node to v10.4.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.60.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency core-js to v3.19.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v16
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-dev-server to v4.4.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update angular-cli monorepo to v12.2.12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v12.1.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.61.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency rollup to v2.59.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.4.8
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.7
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency pixi.js to v6.2.0
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency karma to v6.3.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/checkout action to v2.4.0
  .github/workflows/label_package_pr.yml
Due: none

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
