Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.78
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.29
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v3.2.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.79
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.36
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency copy-webpack-plugin to v11
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.80
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v13.3.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.81
  package-lock.json
  package.json
Due: none

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update actions/upload-artifact action to v3.1.0
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.82
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v8.16.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v10.8.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.22.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.83
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v2.0.32
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.84
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.22.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
