Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

fix(deps): bump express to 4.17.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v1.0.17
  package-lock.json
  package.json
Due: none

chore(deps): update dependency marked to 4.0.10 [security]
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency typedoc to v0.22.12
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.2.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency nanoid to 3.1.31 [security]
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency mocha to v9.2.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup-plugin-dts to v4.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v10.6.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/download-artifact action to v3
  .github/workflows/test.yml
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.26
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency copy-webpack-plugin to v10.2.4
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
Due: client

chore(deps): update dependency fs-extra to v10.0.1
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency source-map-loader to v3.0.1
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
Due: client

fix(deps): update dependency express to v4.17.3
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency typescript to v4.6.2
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.70.0
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack-dev-server to v4.7.4
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
Due: client

chore(deps): update dependency node-forge to 1.0.0 [security]
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency typedoc to v0.22.13
  package-lock.json
  package.json
Due: none

chore(deps-dev): update several rollup packages
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.70.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v10.7.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/eslint-config to v1.0.24
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(release): publish v0.5.1
  CHANGELOG.md
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/CHANGELOG.md
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/CHANGELOG.md
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): bump angular to 13.x
  packages/client/.gitignore
  packages/client/angular.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/routes/sudoku/modules/sudoku-benchmark/sudoku-benchmark.module.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/sudoku-field.module.ts
  packages/client/src/polyfills.ts
  packages/client/src/test.ts
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

build(client): update prerender script
  packages/client/angular.json
  packages/client/package.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
