Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps-dev): add tslib dependency
  package-lock.json
  package.json
Due: none

build(tank-call): add esm module export option (#896)
  packages/tank-call/package.json
  packages/tank-call/src/app.ts
  packages/tank-call/src/index.ts
  packages/tank-call/tsconfig.json
  packages/tank-call/webpack.config.js
Due: tank-call

chore(deps): pin dependency tslib to 2.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.45.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.31.2
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): bump @angular/core to 11.2.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): bump @angular/core to 11.2.9 (#904)
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.45.1
  package-lock.json
  package.json
Due: none

chore(deps): set legacy-peer-deps to true in .npmrc
  packages/client/.gitignore
  packages/client/.npmrc
Due: client

chore(deps): update dependency pug to v3
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency jasmine-spec-reporter to v7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): add webpack-dev-server dependency
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): make pixi.js a peer dependency
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(tank-call): use correct width for landscape drawing
  packages/tank-call/src/landscape.ts
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update actions/cache action to v2.1.5
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency webpack to v5.32.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency rollup to v2.45.2
  package-lock.json
  package.json
Due: none

build(tank-call): add webpack serve shortcut to scripts
  packages/tank-call/package.json
Due: tank-call

build(tank-call): add webpack serve shortcut to scripts (#912)
  packages/tank-call/package.json
Due: tank-call

ci(mergify): use merge for branch updates
  .mergify.yml
Due: none

ci(mergify): use merge for branch updates (#913)
  .mergify.yml
Due: none

chore(deps): update dependency @types/sinon to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.33.2
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angular monorepo to v11.2.10
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.14.39
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client
