Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.57.0
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v12.2.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.7
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.54.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/sinon to v10.0.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v9.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.19
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-dev-server to v4.3.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency core-js to v3.18.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update actions/setup-node action to v2.4.1
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency webpack to v5.55.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.55.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v14.17.20
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency @nguniversal/express-engine to v12.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.58.0
  package-lock.json
  package.json
Due: none
