Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

fix(deps): update dependency @donmahallem/sudoku to v0.3.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

build: specify engines to be used in packages
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore: add missing pixi packages
  packages/tank-call/package.json
Due: tank-call

chore: fix test:coverage run
  packages/tank-call/tsconfig.spec.json
Due: tank-call

chore(deps): update dependency @donmahallem/tslint-config to v0.3.0
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update actions/upload-artifact action to v2.3.1
  .github/workflows/test.yml
Due: none

fix(deps): update dependency core-js to v3.20.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.15
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore: add sudoku-board package
  packages/sudoku-board/.eslintrc.js
  packages/sudoku-board/.gitignore
  packages/sudoku-board/README.md
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/sudoku-board/rollup.config.js
  packages/sudoku-board/src/index.html
  packages/sudoku-board/src/index.spec.ts
  packages/sudoku-board/src/index.ts
  packages/sudoku-board/src/sudoku-board.ts
  packages/sudoku-board/tsconfig.json
  packages/sudoku-board/tsconfig.spec.json
  packages/sudoku-board/typedoc.config.js
  packages/sudoku-board/webpack.config.js
Due: none

chore: add sudoku-board package
  packages/client/package.json
Due: client

chore(deps): update dependency follow-redirects to 1.14.7 [security]
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency log4js to 6.4.0 [security]
  packages/client/package-lock.json
Due: client

chore: save
  packages/sudoku-board/src/app.ts
  packages/sudoku-board/src/sudoku-board-app.ts
  packages/tank-call/package.json
  packages/tank-call/src/app.ts
  packages/tank-call/src/barrel-explosion.ts
  packages/tank-call/src/inputs.ts
  packages/tank-call/src/tank-game-app.ts
  packages/tank-call/src/tank-game.ts
Due: tank-call

style: fix lint issues
  packages/client/src/app/app.browser.module.ts
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/abstract-pixi-render.directive.ts
  packages/client/src/app/components/index.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-field.directive.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/sudoku-board-loader-token.ts
  packages/client/src/app/routes/tank-call/components/tank-call-game/tank-call-game.directive.ts
  packages/client/src/app/routes/tank-call/tank-call-loader-token.ts
  packages/sudoku-board/package.json
  packages/tank-call/src/app.ts
  packages/tank-call/src/barrel-explosion.ts
  packages/tank-call/src/inputs.ts
  packages/tank-call/src/key-listener.ts
  packages/tank-call/src/projectile.ts
  packages/tank-call/src/tank-game-app.ts
  packages/tank-call/src/tank-game.ts
  packages/tank-call/src/tank.ts
Due: client, tank-call

ci(mergify): rework mergify config
  .mergify.yml
Due: none

chore(sudoku-board): remove empty source file
  packages/sudoku-board/src/app.ts
Due: none

fix(deps): update @pixi packages
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/src/app.ts
  packages/tank-call/package-lock.json
Due: client, tank-call

chore: update package -locks
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix: rework pixi implementation (#1480)
  lerna-debug.log
  package-lock.json
  packages/client/angular.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/app.browser.module.ts
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/abstract-pixi-render.directive.ts
  packages/client/src/app/components/index.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/index.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-board-game.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-field.component.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-field.directive.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-field.server.directive.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/index.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/sudoku-board-loader-token.ts
  packages/client/src/app/routes/sudoku/modules/sudoku-board/sudoku-field.module.ts
  packages/client/src/app/routes/tank-call/components/tank-call-game/tank-call-game.directive.ts
  packages/client/src/app/routes/tank-call/tank-call-loader-token.ts
  packages/client/src/main.ts
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/sudoku-board/src/app.ts
  packages/sudoku-board/src/index.html
  packages/sudoku-board/src/index.ts
  packages/sudoku-board/src/sudoku-board-app.ts
  packages/sudoku-board/src/sudoku-board.ts
  packages/sudoku-board/webpack.config.cjs
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
  packages/tank-call/src/barrel-explosion.ts
  packages/tank-call/src/index.html
  packages/tank-call/src/index.ts
  packages/tank-call/src/inputs.ts
  packages/tank-call/src/key-listener.ts
  packages/tank-call/src/projectile.ts
  packages/tank-call/src/tank-game-app.ts
  packages/tank-call/src/tank-game.ts
  packages/tank-call/src/tank.ts
  packages/tank-call/webpack.config.cjs
Due: client, tank-call

chore(deps): update dependency karma to 6.3.14 [security]
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @nguniversal/builders to v12.1.3
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update angular-cli monorepo to v13
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @nguniversal/builders to v13
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update angular monorepo to v13
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): several dependency fixes
  package-lock.json
  package.json
  packages/client/.gitignore
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

build(client): bundle deps
  packages/client/angular.json
Due: client

build(client): fix prerender routes
  packages/client/package.json
Due: client

chore(client): temp remove lint scripts
  packages/client/package.json
Due: client

chore(deps): update package locks
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps-dev): add rollup-plugin-dts
  package-lock.json
  package.json
Due: none

chore: bump nguniversal version
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(client): fix coverage report creation
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/karma.conf.js
Due: client

fix(client): fix coverage generation
  packages/client/angular.json
  packages/client/karma.conf.js
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): several dependency fixes (#1482)
  package-lock.json
  package.json
  packages/client/.gitignore
  packages/client/angular.json
  packages/client/karma.conf.js
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/karma.conf.js
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call
