Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency @types/jasmine to v3.9.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency core-js to v3.17.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.52.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update donmahallem/lerna-label action to v0.1.4
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @types/node to v14.17.15
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-dev-server to v4.1.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angular monorepo to v12.2.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.17.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency conventional-changelog-angular to v5.0.13
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency webpack-dev-server to v4.2.0
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.52.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.4.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typescript to v4.4.3
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency typedoc to v0.22.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.3
  package-lock.json
  package.json
Due: none
