Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update donmahallem/lerna-label action to v0.1.5
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update codecov/codecov-action action to v2.1.0
  .github/workflows/test.yml
Due: none

chore(deps): update dependency pixi.js to v6.1.3
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack-dev-server to v4.2.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/jasmine to v3.9.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.17.16
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.53.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v14.17.17
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @compodoc/compodoc to v1.1.15
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.22.4
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.18.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.2.6
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @types/chai to v4.2.22
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/sinon to v10.0.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.18
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client
