Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency marked to 4.0.10 [security]
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: client

chore(deps): update dependency typedoc to v0.22.13
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @donmahallem/sudoku to ~0.3.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency chai to v4.3.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack-cli to v4.9.2
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency karma to v6.3.17
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.2.7
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency sinon to v13
  package-lock.json
  package.json
Due: none

chore(deps): update angular-cli monorepo to v13.2.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency jasmine-core to v3.99.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/setup-node action
  .github/workflows/create_release.yml
  .github/workflows/deploy_pages.yml
  .github/workflows/publish_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency jasmine-core to v4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency karma-chrome-launcher to v3.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/checkout action
  .github/workflows/create_release.yml
  .github/workflows/deploy_pages.yml
  .github/workflows/label_package_pr.yml
  .github/workflows/publish_release.yml
  .github/workflows/test.yml
Due: none

fix(deps): update angular monorepo
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update rollup packages
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v13.2.6
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency rxjs to v7.5.5
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): bump rxjs to 7.5.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency ts-loader to v9.2.8
  packages/client/package-lock.json
  packages/client/package.json
  packages/sudoku-board/package-lock.json
  packages/sudoku-board/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency mocha to v9.2.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.25
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency eslint to v8.11.0
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update dependency @donmahallem/eslint-config to v1.0.27
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v1.0.28
  package-lock.json
  package.json
  packages/sudoku-board/package-lock.json
  packages/tank-call/package-lock.json
Due: tank-call
