Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): update dependency webpack to v5.56.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @rollup/plugin-commonjs to v21
  package-lock.json
  package.json
Due: none

chore(deps): update angular-cli monorepo to v12.2.8
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency rxjs to v7.3.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.4.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency webpack to v5.56.1
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency webpack-dev-server to v4.3.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.57.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.57.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v14.17.21
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update dependency core-js to v3.18.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.2.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack-cli to v4.9.0
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update dependency rxjs to v7.4.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.58.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.58.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
