Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency webpack to v5.37.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency pixi.js to v6.0.3
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency @types/jasmine to v3.7.2
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency pixi.js to v6.0.4
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update dependency rxjs to v7.0.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.14.45
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v11.2.14
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @nguniversal/builders to v12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @nguniversal/express-engine to v12
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/jasmine to v3.7.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.48.0
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update dependency source-map-loader to v2.0.2
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @types/node to v14.17.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency ts-loader to v9.2.0
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.37.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency ts-loader to v9.2.1
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

fix(deps): update angularmaterial monorepo to v11.2.13
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call
