Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency ts-node to v10.3.0
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.22
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typescript to v4.4.4
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency core-js to v3.18.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.58.2
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angular monorepo to v12.2.10
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency @types/node to v14.17.26
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.10
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency jasmine-core to v3.10.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @types/node to v14.17.27
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency mocha to v9.1.3
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps): update actions/checkout action to v2.3.5
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency html-webpack-plugin to v5.4.0
  package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

fix(deps): update angularmaterial monorepo to v12.2.10
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @rollup/plugin-typescript to v8.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.10.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency typedoc to v0.22.6
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
Due: client

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
