Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): update dependency karma to v6.3.9
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.0.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update webfactory/ssh-agent action to v0.5.4
  .github/workflows/deploy_pages.yml
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.5.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/tslint-config to v0.2.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @donmahallem/sudoku to v0.2.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.5.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.60.1
  package-lock.json
  package.json
Due: none

chore(deps): update actions/cache action to v2.1.7
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @compodoc/compodoc to v1.1.16
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update donmahallem/lerna-label action to v0.1.8
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency typedoc to v0.22.10
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v2.5.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.5.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.5.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/tslint-config to v0.2.3
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

fix(deps): update dependency @donmahallem/sudoku to v0.2.4
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency core-js to v3.19.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.60.2
  package-lock.json
  package.json
Due: none
