Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

.codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      client:
        paths:
          - packages/client/*
      tank-call:
        paths:
          - packages/tank-call/*
flags:
  client:
    paths:
      - packages/client/
  tank-call:
    paths:
      - packages/tank-call/

chore(deps): update dependency @types/node to v14.17.4
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v12.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angularcli monorepo to v12.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency copy-webpack-plugin to v9.0.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency rollup to v2.52.3
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @nguniversal/express-engine to v12.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

chore(deps): lock file maintenance
  packages/client/package-lock.json
Due: client

chore(deps): update dependency typedoc to v0.21.2
  package-lock.json
  package.json
Due: none

chore: fix typedoc config acquisition
  packages/tank-call/package.json
  packages/tank-call/typedoc.config.js
Due: tank-call

chore(deps): update dependency typescript to v4.3.4
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency webpack to v5.41.0
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency coveralls to v3.1.1
  package-lock.json
  package.json
Due: none

fix(deps): update dependency core-js to v3.15.2
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency webpack to v5.41.1
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update dependency @donmahallem/rollup-config to v0.2.6
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @donmahallem/sudoku to v0.1.5
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.52.4
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v2.2.0
  .github/workflows/create_release.yml
  .github/workflows/test.yml
Due: none

fix(deps): update angular monorepo to v12.1.1
  packages/client/package-lock.json
  packages/client/package.json
Due: client
