Repository spielhalle/spielhalle: changes, and which Codecov flags are due for each by the changed paths.
All: client, tank-call

ci(github): patch npm versions
  .github/workflows/create_release.yml
  .github/workflows/deploy_pages.yml
  .github/workflows/publish_release.yml
  .github/workflows/test.yml
Due: none

fix(deps): update angularmaterial monorepo to v13.0.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angular monorepo to v12.2.14
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency @donmahallem/rollup-config to v0.5.6
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
Due: client, tank-call

fix(deps): update dependency core-js to v3.19.3
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update angular-cli monorepo to v12.2.14
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update actions/upload-artifact action to v2.3.0
  .github/workflows/test.yml
Due: none

chore(deps): update actions/download-artifact action to v2.1.0
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/chai to v4.3.0
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v13.0.4
  packages/client/package-lock.json
  packages/client/package.json
Due: client

fix(deps): update angularmaterial monorepo to v13.1.0
  packages/client/package-lock.json
  packages/client/package.json
Due: client

chore(deps): update dependency rollup to v2.61.0
  package-lock.json
  package.json
Due: none

chore: update tank-call
  packages/tank-call/.eslintrc.js
  packages/tank-call/.mergify.yml
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
  packages/tank-call/src/app.ts
  packages/tank-call/src/assets/bunny.jpg
  packages/tank-call/src/background.ts
  packages/tank-call/src/index.spec.ts
  packages/tank-call/src/index.ts
  packages/tank-call/src/key-listener.ts
  packages/tank-call/src/landscape.ts
  packages/tank-call/src/projectile.ts
  packages/tank-call/src/tank-game.ts
  packages/tank-call/src/tank.ts
  packages/tank-call/src/target-number.ts
  packages/tank-call/tsconfig.json
  packages/tank-call/tsconfig.spec.json
  packages/tank-call/tslint.json
  packages/tank-call/webpack.config.js
Due: tank-call

chore: use pixi as dependencies
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore: integrate tank-call
  .prettierrc
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/app-routing.module.ts
  packages/client/src/app/routes/tank-call/components/tank-call-container/index.ts
  packages/client/src/app/routes/tank-call/components/tank-call-container/tank-call-container.component.pug
  packages/client/src/app/routes/tank-call/components/tank-call-container/tank-call-container.component.ts
  packages/client/src/app/routes/tank-call/components/tank-call-game/index.ts
  packages/client/src/app/routes/tank-call/components/tank-call-game/tank-call-game.directive.ts
  packages/client/src/app/routes/tank-call/tank-call-routing.module.ts
  packages/client/src/app/routes/tank-call/tank-call.module.ts
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
  tsconfig.json
Due: client, tank-call

build(tank-call): fix circular dependency
  packages/tank-call/tsconfig.json
Due: tank-call

chore: fix dependencies
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/routes/sudoku/modules/sudoku-board/component/sudoku-board-game.ts
  packages/client/src/app/routes/tank-call/components/tank-call-game/tank-call-game.directive.ts
Due: client

ci(github): only test node 14 and 16
  .github/workflows/test.yml
Due: none

chore: update @types/node
  package-lock.json
  package.json
Due: none

ci(github): update test script
  .github/workflows/test.yml
Due: none

chore(deps): update dependency copy-webpack-plugin to v9.1.0
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore(deps): update dependency webpack to v5.65.0
  package-lock.json
  packages/client/package-lock.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: client, tank-call

chore: type this references
  packages/tank-call/src/tank-game.ts
Due: tank-call

chore(deps-dev): update dependencies
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
  packages/tank-call/package.json
Due: tank-call

chore(deps): update rollup packages
  package-lock.json
  package.json
  packages/tank-call/package-lock.json
Due: tank-call

chore(deps-dev): update rollup packages
  package-lock.json
  package.json
Due: none

chore(tank-call): add missing @pixi/utils dependency
  packages/tank-call/package.json
Due: tank-call

fix(deps): update dependency @donmahallem/sudoku to v0.3.1
  package-lock.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/tank-call/package-lock.json
Due: client, tank-call

Path conditions:
  client: any of: packages/client/
  tank-call: any of: packages/tank-call/
